Text to be analyzed:
{{text}}

Lemma dictionary meanings (both LDOCE and Cambridge):
{{lemma_meanings}}


Output JSON structure:
- expression (lemma/expression identified as metaphor)
- position (offset in the given text) - use embedded JSON -> start, end (both inclusive)
- metaphor_type -  DIRECT, INDIRECT, IMPLICIT, NONE
- explanation