Text to be analyzed:
{{text}}

Lemma dictionary meanings (both LDOCE and Cambridge):
{{lemma_meanings}}


Output JSON structure:
- expression/lemma
- offset (in the given text)
- metaphor type -  DIRECT, INDIRECT, IMPLICIT, NONE
- explanation